version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: banco_skull
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: banco_skull
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - banco-network

volumes:
  mysql_data:

networks:
  banco-network:
    driver: bridge